<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="status"></p>
    <button onclick="test()">chạy</button>
</body>
<script>
    function test() {
        var s = "";
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function() {
        const myObj = JSON.parse(this.responseText);
        document.getElementById("status").innerHTML = myObj.user_name;
        }
        xmlhttp.open("GET", "http://localhost/api/api/account/show_one_account.php?id=1");
        xmlhttp.send();
    }

</script>
</html>